In [1]:
#sql
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from config import username, password
from sqlalchemy import create_engine, inspect

In [2]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employee_db')
connection = engine.connect()

In [3]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

inspector = inspect(engine)

columns = inspector.get_columns('salaries')
for c in columns:
    print(c['name'], c["type"])

emp_no INTEGER
salary MONEY
from_date DATE
to_date DATE

In [4]:
data = engine.execute("SELECT * FROM salaries limit 5")

for record in data:
    print(record)

(10001, '$60,117.00', datetime.date(1986, 6, 26), datetime.date(1987, 6, 26))
(10002, '$65,828.00', datetime.date(1996, 8, 3), datetime.date(1997, 8, 3))
(10003, '$40,006.00', datetime.date(1995, 12, 3), datetime.date(1996, 12, 2))
(10004, '$40,054.00', datetime.date(1986, 12, 1), datetime.date(1987, 12, 1))
(10005, '$78,228.00', datetime.date(1989, 9, 12), datetime.date(1990, 9, 12))

In [25]:
data = engine.execute("SELECT * FROM salaries")

salaries = []

for record in data:
    salaries.append(record[1])

print(salaries)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
#2. Create a histogram to visualize the most common salary ranges for employees.
plt.hist(salaries, bins = 5)
plt.xlabel('Salary')
plt.ylabel('Counts')
plt.show()